In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Since NetWorth is a string and we want an int we need to set a funtion for that purpose

def str_to_int(worth):
    num_worth = worth[1:-2]
    return float(num_worth)

In [4]:
# Read data
data = pd.read_csv('/Users/ragde54/Desktop/Code/Machine Learning/Sklearn/Billion Worth Calculator/Billionaire.csv')

# Modify value of NetWorth
data.NetWorth = data.NetWorth.apply(str_to_int)
data = data.dropna(axis=0, subset=['Age']) # Age has some NaN values so we drop the rows

# Separate target from predictors
y = data.NetWorth  # our target 
X = data.drop(['Name', 'NetWorth', 'Rank', 'Source'], axis=1) # our predictors

# Break off validation set from training
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(drop_X_train, y_train)
    preds = model.predict(drop_X_valid)
    return mean_absolute_error(y_valid, preds)

In [6]:
# First approach, we drop categorical data:
drop_X_train = X_train.select_dtypes(exclude=['object'])
drop_X_valid = X_valid.select_dtypes(exclude=['object'])

print("MAE from Approach 1:")
print(score_dataset(drop_X_train, drop_X_valid, y_train, y_valid))

MAE from Approach 1:
4.219141766833379

In [10]:
# Second approach, ordinal encoding. We will assign an integer to every categoriacal value:

# Get list of categorical variables
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Country', 'Industry']

In [32]:
from sklearn.preprocessing import OrdinalEncoder

# Make copy to avoid changing original data 
label_X_train = X_train.copy()
label_X_valid = X_valid.copy()


# Apply ordinal encoder to each column with categorical data
ordinal_encoder = OrdinalEncoder()
label_X_train[object_cols] = ordinal_encoder.fit_transform(X_train[object_cols])
#label_X_valid[object_cols] = ordinal_encoder.transform(X_valid[object_cols])

print(type(X_valid[object_cols].Country))
'''
print("MAE from Approach 2 (Ordinal Encoding):") 
print(score_dataset(label_X_train, label_X_valid, y_train, y_valid))
'''

<class 'pandas.core.series.Series'>

'\nprint("MAE from Approach 2 (Ordinal Encoding):") \nprint(score_dataset(label_X_train, label_X_valid, y_train, y_valid))\n'

In [12]:
X_train.head()

            Country   Age               Industry
841   United States  78.0  Finance & Investments
1404          China  56.0          Manufacturing
2429          Japan  56.0       Fashion & Retail
692       Hong Kong  48.0             Technology
1889  United States  49.0             Technology